site_name: eb-adapters
site_description: Adapter classes for integrating external forecast engines into the ElectricBarometer ecosystem
site_url: https://github.com/Economistician/eb-adapters

repo_name: Economistician/eb-adapters
repo_url: https://github.com/Economistician/eb-adapters

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy

nav:
  - Home: index.md
  - API Reference:
      - Base: api/base.md
      - CatBoost: api/catboost.md
      - LightGBM: api/lightgbm.md
      - Prophet: api/prophet.md
      - Statsmodels: api/statsmodels.md

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight
  - pymdownx.superfences

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            show_source: false
            show_signature_annotations: true
            separate_signature: true

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js